<div class = "row">
  <div class = "span12">
    <%= link_to edit_context_path(context) do %>
      <i class="icon-pencil"></i>
    <% end %>
    <%= link_to context_path(context), :method => :delete, :data => { :confirm => t('links.confirm') } do %>
      <i class="icon-remove"></i>
    <% end %>
    <%= context.name %>
  </div>
</div>
