<div class = "row">
  <div class = "span12 well">
    <%= link_to context.name, context, style: "color: black;" %>
    <div style="float:right">
      <%= link_to context, :method => :delete, :data => { :confirm => t('links.confirm') } do %>
        <i class="icon-remove"></i>
      <% end %>
    </div>
  </div>
</div>
