<div class="page-header"><h1>Contexts</h1></div>

<% @contexts.each do |context| %>
  <%= render partial: "context", locals: {context: context} %>
<% end %>

<%= link_to new_context_path, :class => "row" do %>
  <div class="span12" style="border: 1px dashed #ddd; color: #ddd;">
    <i class="icon-plus" style="font-size: 30px; margin-top: 10px; margin-bottom: 10px; padding-left: 10px;"> add new context</i>
  </div>
<% end %>
