<h1>Contexts</h1>

<% @contexts.each do |context| %>
  <%= render partial: "context", locals: {context: context} %>
<% end %>

<%= link_to new_context_path, :class => "row" do %>
  <div class="span12 faded-button">
    <i class="icon-plus large"> add new context</i>
  </div>
<% end %>
