<%- model_class = ::Context -%>
<ul class="breadcrumb">
  <li><%= link_to t('nav.back'), contexts_path %><span class="divider">/</span></li>
  <li class="active"><%= @context.name %></li>
</ul>

<h1><%= @context.name %></h1>

